.Login {
  padding-top: 100px;
  width: 60%;
  height: 100%;
  margin: 0 auto;
  color: #005b9b;
  font-family: sans-serif;
}

@media screen and (max-width: 480px) {
  .Login {
    padding-top: 120px;
    width: 100%;
  }
}

::placeholder {
  color: gray !important;
}

.loginMain {
  margin: 0 auto;
  text-align: center;
  height: 100%;
  width: 430px;
  padding-top: 50px;
  border-radius: 30px;
}

@media screen and (max-width: 480px) {
  .loginMain {
    width: 100% !important;
    margin: 0px !important;
  }
}

form {
  width: 100%;
}

@media screen and (max-width: 480px) {
  .form {
    text-align: center !important;
  }
}

.loginTitleText {
  text-align: center;
  font-size: 15px;
  color: #005b9b;
  margin: 0;
  padding-top: 30px;
}

@media screen and (max-width: 480px) {
  .loginTitle {
    margin: 0px !important;
  }
}

.input {
  width: 400px;
  height: 50px;
  font-size: 15px;
  font-family: sans-serif;
  border-radius: 10px;
  border-style: none;
  color: rgb(21, 19, 72) !important;
  border: solid #005b9b !important;
  padding-left: 20px;
  outline: none;
  background-color: #ffece2 !important;
}

@media screen and (max-width: 480px) {
  .input {
    width: 320px !important;
  }
}

.submit {
  width: 430px;
  height: 50px;
  font-family: sans-serif;
  border-radius: 20px;
  border-style: none;
  border: solid #005b9b;
  color: white !important;
  background-color: #005b9b !important;
  margin: 20px;
  transition: 1s;
}

@media screen and (max-width: 480px) {
  .submit {
    width: 350px !important;
    border-radius: 10px !important;
    margin: 0px !important;
    margin-bottom: 20px !important;
  }
}

.submit:hover {
  background-color: rgb(21, 19, 72) !important;
  color: white;
  transition: 1s;
}

.inputTitle {
  float: left;
  margin: 0;
}

@media screen and (max-width: 480px) {
  .inputTitle {
    display: none;
  }
}

.loginPassword {
  margin-bottom: 30px !important;
}

@media screen and (max-width: 480px) {
  .loginPassword {
    margin-bottom: 10px !important;
  }
}
