.Todo {
  padding-top: 200px;
  width: 60%;
  height: 100%;
  margin: 0 auto;
  color: #005b9b;
  text-align: center;
}

@media screen and (max-width: 480px) {
  .Todo {
    padding-top: 80px !important;
    width: 100% !important;
  }
}

.todoTitle {
  margin: 10px;
  font-family: sans-serif;
}

.todoTitleText {
  text-align: center;
  font-size: 15px;
  color: #005b9b;
  margin: 0;
  padding-top: 30px;
}

.newTaskBtn {
  width: 200px;
  height: 100px;
  text-align: center;
  border-radius: 10px;
  border-style: none;
  color: white;
  font-size: 15px;
  font-weight: bold;
  font-family: sans-serif;
  margin-top: 10px;
  margin-bottom: 120px;
  background-color: #005b9b;
  transition: 1s;
}

@media screen and (max-width: 480px) {
  .newTaskBtn {
    margin-bottom: 80px;
  }
}

.newTaskBtn:hover {
  background-color: rgb(21, 19, 72) !important;
  color: white;
  transition: 1s;
}

.ModalBox {
  width: 100%;
  height: 100%;
}

.noTaskTitle {
  height: 30px;
}

.taskLineBox {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 300px;
}

@media screen and (max-width: 480px) {
  .taskLineBox {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 200px;
  }
}

.TaskBox {
  height: 300px;
}
