.SignUp {
  padding-top: 100px;
  width: 60%;
  height: 100%;
  margin: 0 auto;
  color: #005b9b;
}

::placeholder {
  color: white;
}

.titleText {
  text-align: center;
  font-size: 15px;
  font-family: sans-serif;
  color: #005b9b;
  margin: 0;
  padding-top: 30px;
}

.main {
  margin: 0 auto;
  text-align: center;
  height: 100%;
  width: 430px;
  border-radius: 30px;
}

form {
  width: 100%;
}

.profile {
  margin-bottom: 50px;
}

@media screen and (max-width: 480px) {
  .profile {
    margin-bottom: 10px;
  }
}

.profileImgBox {
  padding-bottom: 20px;
}

.profileImg {
  width: 160px;
  height: 160px;
  border-radius: 100px;
  border-color: #fff;
  border-style: solid;
}

.profileLabel {
  font-size: 10px;
  padding: 10px 40px;
  cursor: pointer;
  border-radius: 20px;
  border-style: none;
  color: gray;
  background-color: rgba(255, 255, 255, 0.5);
  transition: 1s;
}

.profileLabel:hover {
  background-color: rgb(93, 92, 92);
  color: white;
  transition: 1s;
}

.userInputTitle {
  float: left;
  margin: 0;
}

@media screen and (max-width: 480px) {
  .userInputTitle {
    text-align: center;
    width: 100%;
  }
}

.userValue {
  color: black;
  font-size: 18px;
  font-weight: bold;
}

.logoutBtn {
  width: 350px;
  height: 50px;
  text-align: center;
  border-radius: 20px;
  border-style: none;
  color: white;
  margin-bottom: 40px;
  background-color: rgb(225, 92, 92);
  transition: 1s;
}

.logoutBtn:hover {
  background-color: rgb(141, 61, 61);
  color: white;
  transition: 1s;
}
